<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @play.song %>
</p>

<p>
  <strong>Count:</strong>
  <%= @play.count %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
